[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = git@github.com:Grant-S-Z/hugo-PaperMod.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = git@github.com:adityatelange/hugo-PaperMod.git
